/* @font-face {
    font-family: 'Causten-Black';
    src: url("../assets/fonts/Causten-Black.otf") format("opentype");
    font-weight: 900;
}
@font-face {
    font-family: 'Causten-Bold';
    src: url("../assets/fonts/Causten-Bold.otf") format("opentype");
    font-weight: 700;
}
@font-face {
    font-family: 'Causten-SemiBold';
    src: url("../assets/fonts/Causten-SemiBold.otf") format("opentype");
    font-weight: 600;
}
@font-face {
    font-family: 'Causten-Medium';
    src: url("../assets/fonts/Causten-Medium.otf") format("opentype");
    font-weight: 500;
}
@font-face {
    font-family: 'Causten-Regular';
    src: url("../assets/fonts/Causten-Regular.otf") format("opentype");
    font-weight: 400;
}
@font-face {
    font-family: 'Causten-Light';
    src: url("../assets/fonts/Causten-Light.otf") format("opentype");
    font-weight: 200;
} */