/* $CustenBlack: 'Causten-Black', sans-serif;
$CustenBold: 'Causten-Bold', sans-serif;
$CustenSemiBold: 'Causten-SemiBold', sans-serif;
$CustenMedium: 'Causten-Medium', sans-serif;
$CustenRegular: 'Causten-Regular', sans-serif;
$CustenLight: 'Causten-Light', sans-serif; */
$cPrimary: #603e85;

// Mapa variables para responsive
$breakpoints: (
    xs: 480px,
    sm: 600px,
    md: 800px,
    mg: 1024px,
    lg: 1360px,
    xl: 1920px,
);