$CustenBlack: 'Causten-Black', sans-serif;
$CustenBold: 'Causten-Bold', sans-serif;
$CustenSemiBold: 'Causten-SemiBold', sans-serif;
$CustenMedium: 'Causten-Medium', sans-serif;
$CustenRegular: 'Causten-Regular', sans-serif;
$CustenLight: 'Causten-Light', sans-serif;